<header class="relative container p-4 bg-fuchsia-800 text-white flex space-x-40 text-lg">

    <div>
        <img src="../../../assets/images/logo.png" class="w-28" alt="Movie Mania">
    </div>
    <nav class="hidden md:flex space-x-20  ">
        <a routerLink="" class="hover:border-b-4 border-indigo-400">Home</a>
        <a routerLink="Upcomming" class="hover:border-b-4 border-indigo-400">Upcomming</a>
        <a routerLink="TopRated" class="hover:border-b-4 border-indigo-400">Top Rated</a>
    </nav>

</header>