<header class="hidden  relative container p-4 bg-fuchsia-800 text-white md:flex space-x-40  items-center text-lg">

    <div class="md:w-28 w-20 ">
        <img src="../../../assets/images/logo.png" alt="Movie Mania">
    </div>

    <app-search></app-search>
    <button data-collapse-toggle="navbar-default" type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                clip-rule="evenodd"></path>
        </svg>
    </button>
    <nav class="hidden md:flex space-x-20  ">
        <a routerLink="" class="hover:border-b-4 border-indigo-400 ">Home</a>
        <a routerLink="Upcomming" class="hover:border-b-4 border-indigo-400  ">Upcomming</a>
        <a routerLink="TopRated" class="hover:border-b-4 border-indigo-400">Top Rated</a>
    </nav>

</header>


<!-- for smaller device -->
<header class="flex md:hidden flex-col p-4 bg-fuchsia-800   text-white ">

    <div class="flex justify-between">
        <div class="md:w-28 w-20">
            <img src="../../../assets/images/logo.png" alt="Movie Mania">
        </div>
        <div class="w-1/5 space-y-2" (click)="displaynavbar()">
            <div class="w-5/5  border-2 border-white bg-white "></div>
            <div class="w-5/5  border-2 border-white  bg-white"></div>
            <div class="w-5/5  border-2 border-white bg-white "></div>
        </div>
        <nav *ngIf="displaynav" class="absolute p-2  flex flex-col space-y-5 z-10 bg-fuchsia-800 text-white  right-0 ">
            <a routerLink="" class="hover:border-b-4 border-indigo-400 ">Home</a>
            <a routerLink="Upcomming" class="hover:border-b-4 border-indigo-400  ">Upcomming</a>
            <a routerLink="TopRated" class="hover:border-b-4 border-indigo-400">Top Rated</a>
        </nav>
    </div>
    <br />
    <app-search></app-search>

</header>