<div class="relative border-4 border-white-500">

    <div class="">
        <input type="text" [(ngModel)]="moviename" class="p-2 bg-transparent text-white w-full " placeholder="Inception"
            (ngModelChange)="onchange()">
    </div>
    <div class="absolute bg-white text-black z-10 w-full top-30 cursor-pointer" *ngIf="displayoption">
        <div *ngFor="let movie of searchresult" class="p-2  flex space-x-2 border-b-2 border-black"
            (click)="moviedetail(movie.id)">
            <img class=" w-1/5" src={{movie.poster_path}} alt={{movie.title}} loading="lazy">

            <div>
                <h1>{{movie.title}}</h1>
                <h1 class="text-sm text-zinc-500">{{movie.release_date | date}}</h1>

            </div>
        </div>

    </div>

</div>